/node_modules

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

.Ds_Store

yarn-error.log
.eslintcache

ignore_*

# Circom
sha_js/
**/*.r1cs
**/*.sym
**/*.ptau
**/*.zkey
**/*.wtns
input.json
proof.json
public.json
verification_key.json