/node_modules

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

.Ds_Store

yarn-error.log
.eslintcache

ignore_*

# Circom
circom/*_js/
circom/**/*.r1cs
circom/**/*.sym
circom/**/*.ptau
circom/**/*.zkey
circom/**/*.wtns
circom/*.json
circom/*.sol
circom/circom/

# aptos
aptos-move/**/.aptos
aptos-move/**/build